.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  max-height: 200px;
  width: auto;
}

.featureBlock {
  border-radius: 8px;
  background-color: var(--ifm-color-white);
  margin-bottom: 1rem;
}
