.heroBanner {
  background: linear-gradient(180deg, var(--ifm-color-primary), var(--ifm-color-primary-dark));
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  text-align: center;
  height: 7rem;
  color: var(--ifm-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
